<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Static/css/main.css">
</head>
<body class="background-image">
    <div id="wrapper">
        <div id="container">
            <h1>Nutrition Analysis Using Image Classification</h1>
        </div>
    </div>
    <div class="content">
        <p>Food is essential for human life and has been the concern of many healthcare conventions. 
             Nowadays new dietary assessment and nutrition analysis tools enable more 
             opportunities to help people understand their daily eating habits,
             exploring nutrition patterns and maintain a healthy diet.
             Nutritional analysis is the process of determining the nutritional content of food. 
             It is a vital part of analytical chemistry that provides information about the 
             chemical composition, processing, quality control and contamination of food. 
             It ensures compliance with trade and food laws.</p>
    </div>
    <div class="move">
        <div class="bio">
            <h5>Learn about nutrition data behind your food,</h5>
            <h5>Log your food and track micronutrients that matter to you.</h5>
        </div>
        <a href="classify.html"><button>GO</button></a>
    </div>
</body>
</html>