<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classified Image</title>
    <link rel="stylesheet" href="../Static/css/prediction.css">
</head>
<body class="background-image">
    <div class="container">
        <div class="nav-bar">
                <div class="home">
                    <a href="home.html"><button >Home</button></a>
                    </div>
                    <div class="classify">
                        <a href="classify.html"><button>classify</button></a>
                        </div>   
        </div>
        <div class="box1">
            <h2>Your uploaded food as classifyed below</h2>
            <span><br></span>
        </div>
        <div class="result">
            <h5>View Your Food Nutrition Details</h5>
            <a href="result.html"><button>Result</button></a>
            </div>
    </div>
</body >
</html>